#map {
    width: 100%;
    height: 400px;
}

.fa-check {
    color: #56e81a;
    margin-left: 5px;
}

.fa-times {
    color: red;
    margin-left: 5px;
}

.answer {
    background: whitesmoke;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.question {
    font-size: 14px;
    font-weight: 500;
}

.input-point {
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: 500;
}

.font-stt {
    font-weight: 500;
}

.green {
    font-size: large;
    font-weight: 500;
    margin-left: 15px;
    color: #56e81a;
}

.red {
    font-size: large;
    font-weight: 500;
    margin-left: 15px;
    color: red;
}

.select2-container .select2-selection--multiple .select2-selection__rendered {
    display: inline-block !important;
    list-style: none;
    padding: 0 !important;
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    max-width: 100% !important;
}

.select2-search {
    display: inline-block;
    width: fit-content !important;
    min-height: 26px;
    margin: 0;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    z-index: 10000;
    white-space: nowrap;
}

.btn-info {
    margin-top: 2px;
}

.search {
    margin-bottom: 8px;
}

.custom-search {
    margin-top: -7px;
}

.gm-style .gm-style-iw-c {
    cursor: pointer;
}

#list_user {
    display: block;
    max-height: 400px;
    overflow-y: scroll;
}

#custom,
#tr_custom {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#btn_create {
    width: 160px;
}

#th_table_school {
    width: 20%;
}